@charset "UTF-8";


#chat {
    width: 800px;
    margin: 20px auto;

}

#chat #talk{
    width: 800px;
    height: 400px;
    overflow: scroll;
    border : 1px solid #aaa;
}
#chat #msg{
    width: 740px;
    height:100px;
    display: inline-block;
}

#chat #sendZone > *{
    vertical-align: top;

}
#chat #btnSend{
    width: 54px;
    height: 100px;
}

#chat #talk div{
    width: 70%;
    display: inline-block;
    padding: 6px;
    border-radius:10px;

}

#chat .me{
    background-color : #ffc;
    margin : 1px 0px 2px 30%;
}

#chat .other{
    background-color : #eee;
    margin : 2px;
}