body {
    background: #f5f6fa;
}

.contents_container {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    display:grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
}
@media(max-width:1024px){
    .contents_container{
        display:grid;
        grid-template-columns:repeat(3,minmax(250px,1fr));
    }
}

@media(max-width:768px){
    .contents_container{
        display:grid;
        grid-template-columns:repeat(2,minmax(250px,1fr));
    }
}

@media(max-width:480px){
    .contents_container{
        display:grid;
        grid-template-columns:repeat(1,minmax(250px,1fr));
    }
}
.comBoardListContainer img{
    width: 15em;
    /* need to overwrite inline dimensions */
    height: 10em;
    padding:1em;
    border-radius:30%;
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    line-height: 0;
    overflow:hidden;
}
.comBoardListContainer:hover img {
    filter: blur(2px);
    
}