
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a:link{
    color:#551A8B;
}

.top_navbar {
    display:flex;
    align-items:center;
    /* list-style:none; */
    /* padding-left:0; */
    background: #6667AB;
    /* height: 10%;
    width: 100%; */
    padding: 8px 0px;
    border-bottom: #2b0548d3 solid 7px;

}

.wrapper .sidetop{
    border-bottom: #2b0548d3 solid 7px;
    height:100px;
}
.wrapper .sidetop_left {
    width: 200px;
    height: 100px;
    /* border-bottom: #2b0548d3 solid 7px; */
}
.top_navbar{
    display:flex;
    flex-direction:row;
    /* align-items:center; */
    justify-content: space-between;
    height:7em!important;
    padding: 1em;
    position:relative;
    align-items:center;
}

.navbar_toggleBtn img{
    width:30px;
    height:30px;
}
/************미디어쿼리 시작************/
@media (max-width: 1024px) {

    .top_navbar{
        flex-direction:column;
        align-items:flex-start!important;
        padding: 8px 0px;
    }

    .center_nav{
        display:none!important;
        flex-direction: column;
        width: 100%;
        align-items:center;
        z-index:1;
        position:static!important;
    }
    .center_nav li {
        width:100%;
        text-align:center;
    }
    .right_nav{
        display:none!important;
        width:100%;
        z-index:1;
        justify-content:center;
    }

    .center_nav.active,
    .right_nav.active{
        display: flex !important;
        
    }

    .top_navbar .left_nav img{
        width:5rem!important;
        height:5rem!important;
        padding: 8px 12px;

    }
    .navbar_toggleBtn{
        display:flex!important;
        
    }
    .navbar_toggleBtn img{
        position:absolute;
        right:10%;
    }
    .input_search{
        bottom:50%;
        left: 25%!important;
        width: 55%!important;
    }
}
/************미디어쿼리 끝************/
.navbar_toggleBtn{
    display:none;
    position:absolute;
    right:32px;
    font-size:24px;
    color:white;
}

/*CENTER_NAV*/
.wrapper .section .top_navbar .center_nav{
    display:flex;
    margin-left : auto;
    margin-right: auto;
    background-color: #6667AB;
    position:relative;
    left:5%;
}

.center_nav li{
    padding:8px 12px;
}

.wrapper .section .top_navbar .center_nav span{
    margin:0 0.5rem;
    overflow:hidden;
}
.wrapper .section .top_navbar .center_nav span a {
    display: inline;
    padding: 13px 30px;
    border-bottom: 1px solid #6667AB;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .section .top_navbar .center_nav span a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.center_nav li:hover,
.center_nav li:active{
    color: #6667AB;
    background: white;
    border-radius:4px;
}


.wrapper .section .top_navbar .center_nav span a:hover .icon,
.wrapper .section .top_navbar .center_nav span a:active .icon{
    color: #6667AB;
}

.wrapper .section .top_navbar .center_nav span a:hover:before,
.wrapper .section .top_navbar .center_nav span a:active:before{
    display: block;
}

body{
    margin:0;
}


.wrapper .section .top_navbar .left_nav img{
    position:relative;
    float : left;
    /* margin-left:auto; */
    /* margin-top: 20px; */
    width: 8rem;
    height: 5rem;

}
.input_search{
    position:relative;
    /* width:25%; */
    left:8%;
}



.top_navbar .right_nav {
    display:flex;
    margin-left:auto;
    padding: 8px 12px;
    background-color: #6667AB;
}

.right_nav .btn{
    padding:8px 20px;
    margin: 0px 3px;
}
.right_nav .item{
    margin: 0px 3px;
}




/*side*/

.wrapper .ulside {
    background: #6667AB;
    position:absolute;
    z-index:1;
    display:flex;
}
.wrapper .ulside ul li{
    list-style:none;
}
.wrapper .sidebar {
    /* display:flex;
    flex-direction:row; */
    background: #6667AB;
    /* position: relative; */
    /* top: 100; */
    /* left: 0; */
    width: 100%;
    height: 50%;
    padding: 1em;
    transition: all 0.5s ease;
    font-size:0;
    flex-wrap :wrap;
}

/* .wrapper .section .logo{
    float:right;
    width:225px;
    height:100px;
    margin-right:30px;

}
.wrapper .section .logo img{
    height:90px;
    width:225px;
} */


.wrapper .section .hamburger {
    float: left;
    width: 40px;
    margin-top: 25px;
    margin-left:40px;
}

.wrapper .ulside ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #6667AB;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .ulside ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .ulside ul li a:hover,
.wrapper .ulside ul li a.active {
    color: #6667AB;

    background: white;
    border-right: 2px solid #313265;
}

.wrapper .ulside ul li a:hover .icon,
.wrapper .ulside ul li a.active .icon {
    color: #6667AB;
}

.wrapper .ulside ul li a:hover:before,
.wrapper .ulside ul li a.active:before {
    display: block;
}

.wrapper .section .hamburger a {
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .hamburger a:hover {
    color: #a2ecff;
}

body.active .wrapper .ulside {
    left: -225px;
}

body.active .wrapper .section {
    margin-left: 0;
    width: 100%;
}
