
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.wrapper .sidetop{
    border-bottom: #2b0548d3 solid 7px;
    height:100px;
}
.wrapper .sidetop_left {
    width: 200px;
    height: 100px;
    /* border-bottom: #2b0548d3 solid 7px; */
}
.top_navbar{
    display:flex;
    flex-direction:row;
    /* align-items:center; */
    justify-content: space-between;
    height: 50px;
    padding: 1em;
    position:relative;
}
/*checkbox toggle*/
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
display: block;
background-color: #fff;
position: absolute;
height: 4px;
width: 30px;
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
border-radius: 2px;
margin-top:2rem;
margin-right:-9rem;
}

.menu-button::before {
content: '';
margin-top: -8px;
}

.menu-button::after {
content: '';
margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
margin-top: 0px;
transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
margin-top: 0px;
transform: rotate(-405deg);
}

                /************미디어쿼리 시작************/
@media (max-width: 700px) {
.menu-button-container {
    display: flex;
}
.center_nav {
    position: absolute;
    top: 70%;
    margin-top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
#menu-toggle ~ .center_nav span {
    z-index:1;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .center_nav>span {
    border-top: 1px solid  #313265;
    height: 5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.top_navbar .right_nav {
    /* display:flex; */
    width:100px;
}
.center_nav > span {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    /* color: white; */
    background-color:#6667AB;
}
.center_nav > span:not(:last-child) {
    border-bottom: 1px solid #444;
}
.right_nav .item{
    margin-left:-2rem;
}
.right_nav .btn{
    padding:0;
    line-height:30px;
    text-align:center;
    width:8rem;
    margin-left:-2rem;
}
.top_navbar .left_nav img{
    width:5rem!important;
    height:5rem!important;
}



}
                /************미디어쿼리 끝************/


                /*CENTER_NAV*/
.wrapper .section .top_navbar .center_nav{
    display:flex;
    float : left;
    margin-left : auto;
    margin-right: auto;
    margin-top : 60px;
}
.wrapper .section .top_navbar .center_nav span{
    margin:0 0.5rem;
    overflow:hidden;
}
.wrapper .section .top_navbar .center_nav span a {
    display: inline;
    padding: 13px 30px;
    border-bottom: 1px solid #6667AB;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .section .top_navbar .center_nav span a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .section .top_navbar .center_nav span a:hover,
.wrapper .section .top_navbar .center_nav span a.active {
    color: #6667AB;

    background: white;
    border-right: 2px solid #313265;
}

.wrapper .section .top_navbar .center_nav span a:hover .icon,
.wrapper .section .top_navbar .center_nav span a:active .icon{
    color: #6667AB;
}

.wrapper .section .top_navbar .center_nav span a:hover:before,
.wrapper .section .top_navbar .center_nav span a:active:before{
    display: block;
}

.wrapper .section .top_navbar {
    display:flex;
    /* list-style:none; */
    /* padding-left:0; */
    background: #6667AB;
    height: 10%;
    width: 100%;
    padding: 3px 5px 3px 5px;
    border-bottom: #2b0548d3 solid 7px;
}

.wrapper .section .top_navbar .left_nav img{
    float : left;
    margin-left:auto;
    margin-top: 20px;
    width: 8rem;
    height: 5rem;
    
}



.top_navbar .right_nav {
    float: right;
    margin-top: 50px;
    margin-left:auto;
}



/* @media(max-width:600px),(max-height:800px){
    .wrapper .section .top_navbar .left_nav img{
        width : 50%;
        height: 70%;
    
    }
    .wrapper .section .top_navbar{
        display:none;
    }
}
 @media(min-width:400px),(min-height:900px){
    .wrapper .section .sidebar{
        display:none;
    }
    .wrapper .section .ulside{
        display:none;
    }
}  */
    

/*side*/

.wrapper .ulside {
    background: #6667AB;
    position:absolute;
    z-index:1;
    display:flex;
}
.wrapper .ulside ul li{
    list-style:none;
}
.wrapper .sidebar {
    /* display:flex; 
    flex-direction:row; */
    background: #6667AB;
    /* position: relative; */
    /* top: 100; */
    /* left: 0; */
    width: 100%;
    height: 50%;
    padding: 1em;
    transition: all 0.5s ease; 
    font-size:0;
    flex-wrap :wrap;
}

/* .wrapper .section .logo{
    float:right;
    width:225px;
    height:100px;
    margin-right:30px;
    
}
.wrapper .section .logo img{
    height:90px;
    width:225px;
} */


.wrapper .section .hamburger {
    float: left;
    width: 40px;
    margin-top: 25px;
    margin-left:40px;
}

.wrapper .ulside ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #6667AB;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .ulside ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .ulside ul li a:hover,
.wrapper .ulside ul li a.active {
    color: #6667AB;

    background: white;
    border-right: 2px solid #313265;
}

.wrapper .ulside ul li a:hover .icon,
.wrapper .ulside ul li a.active .icon {
    color: #6667AB;
}

.wrapper .ulside ul li a:hover:before,
.wrapper .ulside ul li a.active:before {
    display: block;
}

.wrapper .section .hamburger a {
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .hamburger a:hover {
    color: #a2ecff;
}

body.active .wrapper .ulside {
    left: -225px;
}

body.active .wrapper .section {
    margin-left: 0;
    width: 100%;
}

