.mypage_container{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    
    
}
.button {
    border : none;
    cursor : pointer;
    background-color :whitesmoke;
}
input {
    
    cursor : pointer;
}
.container{
    display:flex;
    flex-wrap:wrap;
}
img{
    width : 200px;
    height : 200px;
}
/* hr{
    margin-top : 70px;
    margin-bottom: 30px;
    width : 200px;
    size :30px;
} */


.item2 ul li{
    margin-left: 30px;
}